[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "==3.5.2"
prompt-toolkit = "==3.0.43"
wcwidth = "==0.2.13"

[dev-packages]

[requires]
python_version = "3.10"
